.login-container {
  max-width: 500px;
  margin: 12% auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-input {
  width: 75%;
  text-align: center;
}

.login-button {
  width: 18.25%;
}

.login-error {
  color: #b3260d;
}
