nav {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(70, 70, 185);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(17, 17, 54);
}