.comparison-card-container {
  display: inline-flex;
  border-radius: 3%;
}

/* PhoneComparison component styles */
.phone-comparison-container {
  max-width: 1300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.phone-comparison-select {
  width: 50%;
  text-align: center;
}

.phone-comparison-add-btn {
  width: 25%
}