.dashboard {
    display: flex;
}
.sidebar {
    width: 200px;
    height: 100vh;
    border-right: 1px solid #ccc;
    background-color: black;
    color: white;
}

.sidebar button {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    margin: 0;
}

.content {
    flex-grow: 1;

    overflow: auto;
    /* Add this line to add a scrollbar if the content is too long */
}